---
import Container from "@components/container.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "About",
    path: "/blog/about",
  },
  {
    title: "Socials",
    path: "/blog/socials",
  },
  {
    title: "Website",
    path: "https://hukasx0.github.io/"
  },
  {
    title: "GitHub",
    path: "https://github.com/Hukasx0/"
  },
  {
    title: "Source code",
    path: "https://github.com/Hukasx0/blog"
  }
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/blog" class="text-lg"
          ><span class="font-bold text-slate-800">Hukasx0's</span><span
            class="text-slate-500"> Blog</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
    <div>
    </div>
  </header>
</Container>
